html, body{
    font-family: Palatino;
    background-image: url("images/math4.jpeg");
    background-size:cover;
}

#countdown {
    width: 180px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    border-style:double
}

#seconds {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    display:flex;
    font-size: 100px;
    color:black;
}

/* h2{
    text-align:center;
    margin:20px;
    font-weight:bold;
} */

.container{
    text-align:center;
    justify-content:center;
    margin:auto;
}
.start-game{
    border-radius:50px;
    background-color:rgb(150, 184, 130);
    width: 90px;
    height:60px;
    box-shadow:2px 2px 2px;
    font-weight:bold;
    font-size:25px;
    margin-top:30px;
}

#submit-button{
    background-color:white;
    font-weight:bold;

}

.questions{
    font-weight:bold;
    font-size:60px;
    padding-top:15px;
    color:white;
    text-shadow:3px 3px 3px;

}

.user-answer{
    margin-bottom:60px;
}

.score{
    font-weight: bold;
    font-size:25px;
    float:left;
    padding:25px;
    border-style: double;
    background-color:white;
}

.highest-score{
    font-weight: bold;
    font-size:25px;
    float:right;
    padding:25px;
    border-style: double;
    background-color:white;
}