#countdown {
    width: 180px;
    height: 160px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: auto;
}

#seconds {
    display: block;
    width: 100%;
    margin: auto;
   
    text-align: center;
    justify-content: center;
    display:flex;
    font-size: 100px;
}